.c-slideStory {
  width: 375px;
  height: 600px;
  background: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform: scale(0.8);
  transition: .5s;
  
  &.active {
    transform: scale(1);
    z-index: 3;
  }
}

.header {
  background: rgba(0, 0, 0, 0.0001);
}

.header__progress {
  padding: 8px 8px 0 8px;
  margin-bottom: 12px;
}

.header__user {
  padding: 0 0 12px 12px;
}

.content {
  overflow: auto;
  position: relative;
  min-height: 100px;
  color: #404040;
  box-shadow: inset 0 3px 7px -7px #292929, inset 0 -3px 7px -7px #292929;
}

.content__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #31AE54;
  width: 40px;
  height: 40px;
}

.content__info {
  padding: 18px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px 30px 50px;
}

.btn {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  

  &.btn-next {
    left: 100%;
    transform: translateX(20px);
  }

  &.btn-prev {
    left: 0;
    transform: translateX(-100%) translateX(-20px) rotate(180deg);
  }
}
