.c-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.auth__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth__title {
  width: 200px;
  height: 40px;
  margin-bottom: 5px;
}

.auth__text {
  width: 295px;
  text-align: center;
  font-size: 14px;
  color: #6F6F6F;
  line-height: 1.42;
}

.btn-auth {
  padding: 12px 24px;
  background: #31AE54;
  border-radius: 5px;
}

.btn-auth__conent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-auth__title {
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 7px;
  display: inline-block;
  font-weight: bold;
}

.btn-auth__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  padding-top: 5px;
}

.auth__ico {
  max-width: 540px;
  max-height: 340px;
}