.column__container {
  width: 979px;
  margin: 0 auto;
}

.column__user {
  margin-bottom: 16px;
}

.column__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  padding: 20px;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.column__feed {
  padding: 18px;
}

.column__date {
  padding: 0px 0 25px 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}