.column__container {
  width: 979px;
  margin: 0 auto;
}

.column__user {
  margin-bottom: 16px;
}

.column__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 28px;
}