.c-story-user-item {
  margin-right: 31px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  margin-bottom: 10px;
  border: #A6328D 2px solid;
  border-radius: 50%;
}

.avatar:hover {
  border: 2px solid transparent;
  transition: .1s;
}

.img {
  width: 90%;
  border-radius: 50%;
}

.username {
  font-size: 12px;
}

