.c-stories {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, #101010, #101010);
}

.header {
  padding-top: 45px;
  margin-bottom: 130px;
  display: contents;
}

.header__section {
  display: flex;
  justify-content: space-between;
}