.c-post-user-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.user__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  display: inline-flex;
  margin-right: 14px;
  overflow: hidden;
  width: 44px;
}

.img {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
}

.username {
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
}

.user__content {
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
}

.user__content-framework {
  margin-bottom: 15px;
}

.user__content-desc {
  color: #404040;
  margin-bottom: 25px;
}

.tools {
  display: flex;
}

.tools__item {
  display: inline-flex;
  box-shadow: inset 0px -1px 0px rgba(27, 31, 35, 0.12), inset 0px 1px 0px rgba(27, 31, 35, 0.12);
  border: 1px solid rgba(27, 31, 35, 0.15);
  padding: 5px 15px;
  align-items: center;
}

.tools__item-star {
  border-radius: 6px 0px 0px 6px;
  background: #FAFBFC;
}

.tools__item-fork {
  background: #FAFBFC;
}

.tools__item-values {
  border-radius: 0px 6px 6px 0px;
}

.date {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
