.topline___header {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: red;
  width: 50px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.column__title {
  color: #292929;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.column__description {
  color: #404040;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}