.c-topline {
  background: #fafafa;
  border-bottom: 1px solid #c6c6c8;
  padding: 42px 0 32px;
  margin-bottom: 30px;
}

.headline {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 50px;
}
